<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            EL AGUA Y EL PERSONAL MANIPULADOR DE ALIMENTOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                El agua y el personal manipulador de alimentos
                            </h4>
                            <p>
                                El hombre es un portador potencial de prácticamente la mayoría de patógenos. Puede haber sintomáticos y asintomáticos;
                                los manipuladores de alimentos pueden aportar microbios en la piel, uñas, mucosa nasal y bucofaríngea, secreciones
                                broncopulmonares, contenido intestinal, orina, cabello, barba y vellos.
                                <br>
                                Las manos son una vía principal de transmisión, por ello es muy importante proteger el almacenamiento del agua, la
                                calidad del agua, y el uso de esta; para esto tener presente el adecuado lavado de manos es de vital importancia:
                            </p>
                            <img src="../../../../assets/image/lavado.png" alt="">
                            <a href="https://www.youtube.com/watch?v=e9jsnlVDh_c" class="consulta" target="_blank">
                                Personal manipulador
                            </a>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>