<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            ENVASES Y EMBALAJES
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Envases y embalajes
                            </h4>
                            <p>
                                Los envases y embalajes utilizados para manipular las materias primas o los productos terminados deber reunir los
                                siguientes requisitos:
                                <br><br>
                                <li>
                                    Los envases y embalajes deben estar fabricados con materiales tales que garanticen la inocuidad del alimento.
                                </li>

                                <li>
                                    El material del envase y embalaje debe ser adecuado y conferir una protección apropiada contra la contaminación.
                                </li>

                                <li>
                                    No deben haber sido utilizados previamente para fines diferentes que puedan ocasionar la contaminación del alimento a
                                    contener.
                                </li>

                                <li>
                                    Los envases y embalajes que estén en contacto directo con el alimento antes de su envase, aunque sea en forma
                                    temporal, deben permanecer en buen estado, limpios y, de acuerdo con el riesgo en salud pública, deben estar debidamente
                                    desinfectados.
                                </li>

                                <li>
                                    Los envases y embalajes deben almacenarse en un sitio exclusivo para este fin en condiciones de limpieza y debidamente
                                    protegidos.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>