<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                1. Todo plan de saneamiento debe incluir el control de plagas, y control de residuos.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. Todo plan de saneamiento debe incluir el control de plagas, control de residuos, limpieza y desinfección,
                                abastecimiento y calidad del agua.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. Dentro del programa del agua, se tiene en cuenta la Fuente de captación o suministro, tratamientos realizados,
                                manejo, diseño y capacidad del tanque de almacenamiento, distribución.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. El código de colores incluye recipientes de color rojo, verde, negro y blanco.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. El código de colores incluye recipientes de color verde, negro y blanco.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. Es importante solo limpiar, o solo desinfectar, para tener superficies adecuadas para la manufactura de los
                                alimentos.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. Se debe primero limpiar para luego desinfectar, para tener superficies adecuadas para la manufactura de los
                                alimentos.
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>