<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            Un programa de saneamiento es absolutamente necesario, ya que lleva a mantener un ambiente limpio y desinfectado en el
                            área de producción, procesamiento, preparación y almacenamiento de los alimentos. Dentro del programa se deben manejar
                            correctamente los residuos generados, controlar la limpieza y desinfección, el control de la calidad y abastecimiento
                            del agua, y la prevención de la presencia de plagas. Sin embargo, un saneamiento deficiente o ausente, también conduce
                            al daño y alteración de los alimentos con cuantiosas pérdidas económicas, como consecuencia final va sobre la imagen de
                            la empresa con aumento de reclamos por parte de consumidores, y una reducción significativa en las ventas, y finalmente,
                            pérdida de confianza.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>