<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            GARANTÍA DE LA CONFIABILIDAD DE LAS MEDICIONES
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Garantía de la confiabilidad de las mediciones
                            </h4>

                            <p>
                                Toda persona natural o jurídica propietaria del establecimiento deben garantizar la confiabilidad de las mediciones que
                                se realizan para el control de puntos o variables críticas del proceso, para lo cual deben tener implementado un
                                programa de calibración de los equipos e instrumentos de medición, que se encuentren relacionados con la inocuidad del
                                producto procesado.
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>