<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            Al culminar el presente módulo, recordarás que llevar a cabo un adecuado aseguramiento de la calidad, permitirá de
                            manera adecuada, el detectar defectos o desviaciones cuando se está manufacturando un producto alimenticio, además
                            contribuye a ejercer acciones de mejora de forma oportuna, y de esta manera que exista la mejora continua, para
                            finalmente preservar la salud de los consumidores de alimentos.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>