<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            Cuando del almacenamiento y transporte de los alimentos se trata, es importante contar con los equipos y el personal
                            adecuado para tal fin: por otro lado, para el caso de alimentos clasificados como de mayor riesgo en salud pública, es
                            vital una cadena de frío activa en la logística cuando los alimentos manufacturados se someten a un enfriamiento,
                            control de temperatura y registro continuos, y los vehículos y almacenes correspondientes están equipados con tecnología
                            de refrigeración.
                            <br><br>
                            Para mantener la calidad al almacenar los alimentos, deben seguirse de manera estricta, aspectos como la temperatura de
                            refrigeración, la cual debe ser controlada constantemente para que se mantenga una cadena de frío activa sin
                            interrupción. Por otro lado, Los alimentos sin envasar o crudos deben almacenarse por separado. Finalmente hay que
                            recordar que, solo se pueden utilizar recipientes o empaques y envases de almacenamiento específicos para protegerse de
                            los microorganismos.

                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>