<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                1. En la industria alimentaria, las operaciones y condiciones de almacenamiento, distribución, transporte y
                                comercialización, solo se debe evitar: El deterioro o daño del envase o embalaje.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                            Falso. En la industria alimentaria, las operaciones y condiciones de almacenamiento, distribución, transporte y
                            comercialización deben evitar: La contaminación y alteración; La proliferación de microorganismos indeseables; y El
                            deterioro o daño del envase o embalaje.
 
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. El almacenamiento de productos que requieren refrigeración o congelación se realizará teniendo en cuenta las
                                condiciones de temperatura, humedad y circulación del aire que requiera el alimento, materia prima o insumo.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero. El almacenamiento de productos que requieren refrigeración o congelación se reali¬zará teniendo en cuenta
                                las condiciones de temperatura, humedad y circulación del aire que requiera el alimento, materia prima o insumo.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. Se permite transportar conjuntamente en un mismo vehículo, alimentos con diferente riesgo en salud pública siempre y
                                cuando se encuentren debidamente envasados, protegidos y se evite la contaminación cruzada.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero. Se permite transportar conjuntamente en un mismo vehículo, alimentos con diferente riesgo en salud pública
                                siempre y cuando se encuentren debidamente envasados, protegidos y se evite la contaminación cruzada.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. Los plaguicidas y detergentes deben alma¬cenarse en áreas dependientes de producción y su manipulación sólo podrá
                                hacerla el personal idóneo.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. Los plaguicidas y detergentes deben alma¬cenarse en áreas independientes con separación física y su manipulación sólo
                                podrá hacerla el personal idóneo.
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>