<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            MANTENIMIENTO DE CONDICIONES SANITARIAS EN DISTRIBUCIÓN Y COMERCIALIZACIÓN DE ALIMENTOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Mantenimiento de condiciones sanitarias en distribución y comercialización de alimentos
                            </h4>
                            <p>
                                <li>
                                    Durante las actividades de distribución y comercialización de alimentos y materias primas debe garantizarse el
                                    mantenimiento de las condiciones sanitarias de estos. Los alimentos y materias primas que requieran refrigeración
                                    durante su distribución deben mantenerse a temperaturas que aseguren su adecuada conservación hasta el destino final.
                                </li>

                                <li>
                                    Cuando se trate de alimentos y materias primas que requieren congelación, estos deben conservarse a las temperaturas
                                    necesarias de acuerdo con las características del producto.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>