<form class="register">
    <div class="contenedor-registro">
        <h1>Registro</h1>

        <input type="text" class="" placeholder=" " required>
        <label for="nombre" class="title-nombre">Nombre completo</label>

        <input type="email" placeholder=" " required>
        <label for="email-register" class="title-email">Correo electrónico</label>

        <input type="password" placeholder=" " pattern=".{6,}" >
        <label for="contraseña" class="title-password">Contraseña</label>

        <input type="password" placeholder=" " pattern=".{6,}" required>
        <label for="contraseña-verifca" class="contraseña-verifca">Confirmar contraseña</label>

        <div class="login"> <span>¿Ya estás registrado? </span> <a (click)="Ingresar()">Ingresa aquí</a></div>
        <input type="submit" value="Registrase">
    </div>
</form>
