<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            CONDICIONES PARA EL EXPENDIO DE ALIMENTOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Condiciones para el expendio de alimentos
                            </h4>
                            <p>
                                El expendio de alimentos debe cumplir con las siguientes condiciones:
                                <br> <br>
                                <li>
                                    Garantizar la conservación y protección de los alimentos.
                                </li>

                                <li>
                                    Contar con la infraestructura adecuada.
                                </li>

                                <li>
                                    Disponer de los equipos necesarios para la conservación, como neveras y congeladores adecuados para aquellos
                                    alimentos que requieran condiciones especiales de refrigeración y/o congelación, los cuales deben:
                                    <br><br>
                                    <ul>
                                        <li>
                                            Contar con instrumentos para la medición de la temperatura.
                                        </li>

                                        <li>
                                            Mantenerse en operación permanentemente mientras contenga el alimento
                                        </li>

                                        <li>
                                            Ser utilizados de acuerdo con la capacidad de su diseño.
                                        </li>

                                        <li>
                                            Contar con procedimientos definidos para limpieza, desinfección y mantenimiento.
                                        </li>

                                        <li>
                                            En los equipos de refrigeración y/o congelación, debe evitarse el almacenamiento conjunto de alimentos y materias
                                            crudas con procesados o entre aquellos que representen riesgo de contaminación cruzada.
                                        </li>
                                    </ul>
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>