section {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    height: 100%;
    min-height: 100vh;
    background-color: #f09d44;
}

.contenedor-modal {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    transition: opacity .5s;
    animation: show 1s .5s backwards;
}

@keyframes show {

    0% {
        transform: translateY(-150vh);
    }

}

.modal-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    border-radius: 5px;
    overflow: hidden;
}

.cierre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 4%;
    cursor: pointer;
}

.cierre img {
    width: 100%;
}

.content-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 450px;
    text-align: justify;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.39);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    padding: 20px;
    overflow: hidden;
}

.list-topics {
    width: 30%;
    height: auto;
}

.list-topics h3 {
    color: #314F59;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.board {
    width: 70%;
    height: 360px;
    border-radius: 5px;
    background-color: #DAFFFB;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.301);
}

.board-content {
    user-select: text;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    overflow-y: scroll;
}

.board-content h4 {
    font-size: 20px;
    font-weight: 600;
    color: #314F59;
}

.board-content p {
    font-size: 16px;
    font-weight: 500;
    color: #314F59;
}

.botones {
    position: absolute;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 20%;
    bottom: 12px;
    left: 77%;
    display: flex;
    align-self: flex-end;
}

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: separate;
    border: 2px solid rgb(58, 42, 58);
    margin-bottom: 30px;
    margin-left: 45px;
}

th {
    width: 30%;
    text-align: center;
    border: 2px solid rgb(58, 42, 58);
}

th,
td {
    padding: 5px 10px;
}

td {
    font-size: 13px;
    font-weight: 500;
    color: #28034B;
}

th {
    color: #314F59;
}

td {
    border: 1px solid rgb(58, 42, 58);
}

.botones a {
    text-decoration: none;
    background-color: #A1CCD1;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: #314F59;
}

.retrocede {
    padding: 10px 20px;
}

.siguiente {
    padding: 10px 15px;
}

.botones a:hover {
    color: #ffff;
    border: 3px dashed #ffff;
    font-weight: 700;
}