<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            Alimentos contaminados por virus
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Alimentos contaminados por virus
                            </h4>
                            <table>
                                <tr>
                                    <th>
                                        Alimentos
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Ostras:</strong> éstas pueden estar contaminadas por el virus del Norwalk, debido al consumo sin tratamiento térmico de las
                                        ostras, que se hayan obtenido de aguas contaminadas.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Vegetales:</strong> el riego con aguas residuales o el abono con fertilizantes orgánicos puede llegar contaminarlos con
                                        norovirus, siendo las hortalizas y legumbres portadoras.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Ensaladas:</strong> es frecuente que durante la manipulación y preparación no se tengan en cuenta normas de higiene, por lo cual
                                        las partículas virales se pueden transmitir de las heces fecales hacia los alimentos.
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>