<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">
                    
                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                            1. ¿Cuál fue el Periodo en el cual se descubrió el fuego?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B. El Periodo en el cual se descubrió el fuego fue en el Paleolítico
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. ¿Cuál Personaje desarrolló métodos para conservar los alimentos en botellas de vidrio selladas por medio de
                                calentamiento en agua hirviendo?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                D. El Personaje desarrolló métodos para conservar los alimentos en botellas de vidrio selladas por medio de calentamiento en agua hirviendo fue Francois Nicolas Appert
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. ¿En qué año se construyó el microscopio primitivo?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B. El año se construyó el microscopio primitivo fue en 1674
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. ¿Qué Personaje abogó en 1856 por el uso del cloro en el suministro del agua, para evitar contaminación de la misma
                                evitando el desarrollo de enfermedades como la fiebre tifoidea en humanos?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B. El Personaje que abogó en 1856 por el uso del cloro en el suministro del agua, para evitar contaminación de esta
                                evitando el desarrollo de enfermedades como la fiebre tifoidea en humanos fue William Budd
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc5">
                        <label for="acc5">
                            <p>
                                5. ¿Qué tipo de microorganismos, descubrió Louis Pasteur como causantes del proceso de fermentación de ciertos ácidos y
                                sustancias indeseables (que agriaban el vino o la cerveza)?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                C. El tipo de microorganismos, descubrió Louis Pasteur como causantes del proceso de fermentación de ciertos ácidos y
                                sustancias indeseables que agriaban el vino o la cerveza fueron las Bacterias
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>
