<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            Para un lugar destinado a cumplir toda una cadena de producción de alimentos, es imperante que la organización conozca
                            las especificaciones en cuanto a edificaciones e instalaciones, para que desde un inicio se elija una adecuada
                            ubicación, adecuado diseño y construcción, con suficiente y protegido abastecimiento de agua, adecuada disposición de
                            residuos líquidos y sólidos, con instalaciones sanitarias óptimas para que el personal manipulador, logre cumplir las
                            exigencias de higiene; así como las adecuadas condiciones especiales y adecuadas del área de elaboración.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>