<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            CONDICIONES DE INSTALACIÓN Y FUNCIONAMIENTO
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Condiciones de instalación y funcionamiento
                            </h4>
                            <p>
                                Los equipos y utensilios requerirán de las siguientes condiciones de instalación y funcionamiento:
                                <li>
                                    Deben estar instalados y ubicados según la secuencia lógica del proceso tecnológico, desde la recepción de las materias
                                    primas y demás ingredientes, hasta el envasado y embalaje del producto terminado.
                                </li>
                                <li>
                                    La distancia entre los equipos y las paredes perimetrales, columnas u otros elementos de la edificación, debe permitir
                                    el correcto funcionamiento.
                                </li>
                                <li>
                                    Los equipos que se utilicen en operaciones críticas para lograr la inocuidad del alimento, deben estar dotados de los
                                    instrumentos y accesorios requeridos para la medición y registro de las variables del proceso.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
