<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            SISTEMA DE CONTROL
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Sistema de control
                            </h4>

                            <p>
                                Todas las fábricas de alimentos deben contar con un sistema de control y aseguramiento de calidad, el cual debe ser
                                esencialmente preventivo y cubrir todas las etapas de procesamiento del alimento, desde la obtención de materias primas
                                e insumos, hasta la distribución de productos terminados.
                                <br>
                                El sistema debe incluir:

                                <li>
                                    Especificaciones sobre las materias primas y productos terminados. Las especifica¬ciones definen completamente la
                                    calidad de todos los productos y de todas las materias primas con los cuales son elaborados y deben incluir criterios
                                    claros para su aceptación, liberación, retención o rechazo.
                                </li>

                                <li>
                                    Documentación sobre planta, equipos y proceso. Se debe disponer de manuales e instrucciones, guías y regulaciones donde
                                    se describen los detalles esenciales de equipos, procesos y procedimientos requeridos para fabricar o procesar
                                    productos. Estos documentos deben cubrir todos los factores que puedan afectar la calidad, manejo de los alimentos, del
                                    equipo de procesamiento, el control de calidad, almacenamiento, distribución, métodos y procedimientos de laboratorio.
                                </li>

                                <li>
                                    Los planes de muestreo, los procedimientos de laboratorio, especificaciones y mé¬todos de ensayo deben garantizar que
                                    los resultados sean confiables y representativos del lote analizado.
                                </li>

                                <li>
                                    El control y el aseguramiento de la calidad no se limita a las operaciones de laboratorio, sino que debe estar presente
                                    en todas las decisiones vinculadas con la calidad del producto.
                                </li>

                                <li>
                                    El responsable del establecimiento podrá aplicar el sistema de aseguramiento de la inocuidad mediante el Análisis de
                                    Peligros y Puntos de Control Crítico (APPCC) o de otro sistema que garantice resultados similares, el cual debe ser
                                    sustentado y estar disponible para su verificación por la autoridad sanitaria competente.
                                </li>

                                <li>
                                    En caso de adoptarse el sistema de aseguramiento de la inocuidad mediante el Análisis de Peligros y Puntos de Control
                                    Crítico (APPCC), la empresa deberá implantarlo y aplicarlo de acuerdo con los principios generales del mismo.
                                </li>

                                <strong>Laboratorios</strong>
                                <br>
                                Todas las fábricas de alimentos que procesen elaboren o envasen alimentos deben tener acceso a un laboratorio de pruebas
                                y ensayos, propio o externo.
                                <br>
                                <strong>Obligatoriedad de profesional o personal técnico</strong>
                                <br>
                                Los establecimientos que fabriquen procesen, elaboren o envasen alimentos de alto riesgo en salud pública, deben contar
                                con los servicios de tiempo completo de personal técnico idóneo en las áreas de producción y control de calidad de
                                alimentos.

                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>