<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Train</title>
</head>

<body>
    <module-navbar [titulo]="titulos[8]"></module-navbar>
    <content-dropdowns [titular]="titulos[8]"></content-dropdowns>
    <div class="contenedor-base">
        <div class="contenedor-titulo">
            <h6>modulo {{module_selected[8]}}</h6>
            <h3>{{titulos[8]}}</h3>
        </div>
        <div class="cartas">
            <div class="carta" (click)="texto9()">
                <div class="card-body">
                    <div class="card-img">
                        <img src="assets/image/problema_alimentario.png" alt="">
                    </div>
                    <div class="card-title">
                        <p>
                            {{titulo[0]}}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="carta" (click)="texto91()">
                <div class="card-body">
                    <div class="card-img">
                        <img src="assets/image/transporte_alimentario.png" alt="">
                    </div>
                    <div class="card-title">
                        <p>
                            {{titulo[1]}}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="carta" (click)="texto92()">
                <div class="card-body">
                    <div class="card-img">
                        <img src="assets/image/prohibicion_alimentario.png" alt="">
                    </div>
                    <div class="card-title">
                        <p>
                            {{titulo[2]}}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="carta" (click)="texto93()">
                <div class="card-body">
                    <div class="card-img">
                        <img src="assets/image/mantenimiento_alimento.png" alt="">
                    </div>
                    <div class="card-title">
                        <p>
                            {{titulo[3]}}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="carta" id="carta4" (click)="texto94()">
                <div class="card-body">
                    <div class="card-img">
                        <img src="assets/image/condicion_expendio_alimento.png" alt="">
                    </div>
                    <div class="card-title">
                        <p>
                            {{titulo[4]}}
                        </p>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</body>

</html>