<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            Los requisitos higiénicos de fabricación incluyen el manejo adecuado y bajo lineamientos controlados, que incluyen el
                            seguimiento y control de calidad de materias primas e insumos, envases y embalajes, fabricación, envasado y embalado, y
                            por supuesto después de cumplir con lo anterior es de mucho cuidado y atención para evitar todo tipo de contaminación y
                            contribuir con la calidad del producto.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>