<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            CALIDAD E INOCUIDAD
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Calidad e Inocuidad
                            </h4>

                            <p>
                                La calidad tiene que ver con las características de un producto, deseables por el consumidor, como lo son su sabor,
                                presentación, tamaño, entre otros factores.
                                <br><br>
                                La inocuidad, es la suma de procesos que llevan a conseguir que el producto alimenticio esté libre de agentes
                                contaminantes de cualquier tipo, a fin de evitar daños en los consumidores.
                            </p>
                            <a href="https://youtu.be/UVWFMWYHHrw" target="_blank" class="consulta">
                                Calidad e Inocuidad Alimentaria
                            </a>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>