<form class="login">
    <div class="loginContainer" *ngIf="!loading">
        <h1>Inicio de Sesión</h1>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder=" " required>
        <label for="name" class="form-email">Correo electrónico</label>
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder=" " pattern=".{6,}" required>
        <label for="password" class="form-password">Contraseña</label>
        <div class="login-register" href="">
            <span>¿No tienes cuenta? </span> <a routerLinkActive="active"  routerLink="/register">Registrate aquí</a>
        </div>
        <input type="submit" class="button-login" value="Iniciar Sesión" (click)="login()"> 
    </div>

    <app-loading *ngIf="loading"></app-loading>
</form>
