<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>INSTALACIONES SANITARIAS</h3>
                    </div>

                    <div class="board">
                        <div class="board-content">

                            <h4>Instalaciones sanitarias</h4>
                            <p>
                                Deben disponer de instalaciones sanitarias en cantidad suficiente tales como servicios sanitarios y vestidores,
                                independientes para hombres y mujeres, separados de las áreas de elaboración.
                                <br>
                                Los servicios sanitarios deben mantenerse limpios y proveerse de los recursos requeridos para la higiene personal,
                                tales como, pero sin limitarse a: papel higiénico, dispensador de jabón, desinfectante, implementos desechables o
                                equipos automáticos para el secado de las manos y papeleras de accionamiento indirecto o no manual.
                                <br>
                                Se deben Instalar lavamanos con grifos de accionamiento no manual dotados con dispensador de jabón desinfectante.
                                Es importante colocar avisos o advertencias al personal sobre la necesidad de lavarse las manos luego de usar los
                                servicios sanitarios, después de cualquier cambio de actividad y antes de iniciar las labores de producción.
 
                            </p>

                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>