<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            Los establecimientos como los restaurantes, pueden llegar a albergar microorganismos, cuando no se tienen en cuenta,
                            normas de higiene, y el control de todos los procesos para evitar que se presente contaminación por diversas fuentes:
                            materia prima, empaques, superficies, equipos, personal manipulador, desechos solidos ; por ello es de vital
                            importancia, hacer lectura de la normativa vigente, en cuanto al cumplimiento de las buenas practicas de manufactura, y
                            de esta manera garantizar una forma segura y eficiente del consumo de los alimentos.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>