<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            CONDICIONES DE TRANSPORTE DE ALIMENTOS Y MATERIAS PRIMAS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Condiciones de transporte de alimentos y materias primas
                            </h4>
                            <p>
                                El transporte de alimentos y sus materias primas se realizará cumpliendo con las siguientes condiciones:
                                <br> <br>
                                <li>
                                    En condiciones que impidan la contaminación y la proliferación de microorganismos y eviten su alteración, así como
                                    los daños en el envase o embalaje según sea el caso.
                                </li>

                                <li>
                                    Los alimentos y materias primas que por su naturaleza requieran mantenerse refrigerados o congelados deben ser
                                    transportados y distribuidos bajo condiciones que aseguren y garanticen el mantenimiento de las condiciones de
                                    refrigeración o congelación hasta su destino final, que podrá verificarse mediante plantillas de registro de la
                                    temperatura del vehículo durante el transporte del alimento, o al producto durante el cargue y descargue.
                                    <br>
                                    Es importante reforzar el tema de manejo de temperaturas, lo puedes hacer mediante este video:
                                    <a href="https://youtu.be/Qgu4vsq2LOE" target="_blank" class="consulta">
                                        Capacitación: Cadena de frío y efecto de la temperatura en la conservación de los alimentos.
                                    </a>
                                    <br>
                                </li>

                                <li>
                                    Los medios de transporte que posean sistema de refrigeración o congelación deben contar con un adecuado
                                    funcionamiento que garantice el mantenimiento de las temperaturas requeridas para la conservación de los alimentos o
                                    sus materias primas, contando con indicadores y sistemas de registro.
                                </li>

                                <li>
                                    Revisar los medios de transporte antes de cargar los alimentos o materias primas, Los medios de transporte y los
                                    recipientes en los cuales se transportan los alimentos o materias primas, deben estar fabricados con materiales tales
                                    que permitan una correcta limpieza y desinfección.
                                </li>

                                <li>
                                    Se permite transportar conjuntamente en un mismo vehículo, alimentos con diferente riesgo en salud pública siempre y
                                    cuando se encuentren debidamente envasados, protegidos y se evite la contaminación cruzada.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>