<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            EQUIPOS Y UTENSILIOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Equipos y utensilios
                            </h4>
                            <p>
                                Los equipos y utensilios empleados en los restaurantes y establecimientos gastronómicos, deben cumplir con los procesos de limpieza y
                                desinfección.
                                <br><br>
                                Es necesario tener en cuenta, que está prohibido el uso de utensilios con madera, ya que es un material poroso.
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>