<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                1. Todas las fábricas de alimentos que procesen elaboren o envasen alimentos deben tener acceso a un laboratorio de pruebas
                                externo.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. Todas las fábricas de alimentos que procesen elaboren o envasen alimentos deben tener acceso a un laboratorio
                                de pruebas y ensayos, propio o externo, no solo externo, sino de cualquier índole, siempre y cuando esté avalado para
                                las pruebas requeridas.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. Todas las fábricas de alimentos deben contar con un sistema de control y aseguramiento de calidad, el cual debe ser
                                esencialmente preventivo y cubrir todas las etapas de procesamiento del alimento, desde la obtención de materias primas
                                e insumos, hasta la distribución de productos terminados.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. Inocuidad tiene que ver con las características de un producto, deseables por el consumidor, como lo son su sabor,
                                presentación, tamaño, entre otros factores.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. La calidad tiene que ver con las características de un producto, deseables por el consumidor, como lo son su
                                sabor, presentación, tamaño, entre otros factores.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. Calidad es la suma de procesos que llevan a conseguir que el producto alimenticio esté libre de agentes contaminantes
                                de
                                cualquier tipo, a fin de evitar daños en los consumidores.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. La inocuidad, es la suma de procesos que llevan a conseguir que el producto alimenticio esté libre de agentes
                                contaminantes de cualquier tipo, a fin de evitar daños en los consumidores.
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>