<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            CARACTERÍSTICAS ESPECÍFICAS DE LOS EQUIPOS Y UTENSILIOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Características específicas de los equipos y utensilios
                            </h4>
                            <p>
                                Los equipos y utensilios utilizados deben cumplir con las siguientes condiciones específicas:
                                <li>
                                    Deben estar fabricados con materiales resistentes al uso y a la corrosión, así como a la utilización frecuente de
                                    los
                                    agentes de limpieza y desinfección.
                                </li>
                                
                                <li>
                                    Todas las superficies de contacto con el alimento deben cumplir con las resoluciones 683, 4142 y 4143 de 2012 o las
                                    normas que las modifiquen, adicionen o sustituyan.
                                </li>
                                
                                <li>
                                    Todas las superficies de contacto directo con el alimento deben poseer un acabado liso, no poroso, no absorbente y
                                    estar
                                    libres de defectos, grietas, intersticios u otras irre­gularidades que puedan atrapar partículas de alimentos o
                                    microorganismos que afectan la inocuidad de los alimentos.
                                </li>
                                
                                <li>
                                    Todas las superficies de contacto con el alimento deben ser fácilmente accesibles o desmontables para la limpieza,
                                    desinfección e inspección.
                                </li>
                                
                                <li>
                                    Las superficies de contacto directo con el alimento no deben recubrirse con pinturas u otro tipo de material
                                    desprendible que represente un riesgo para la inocuidad del alimento.
                                </li>
                                
                                <li>
                                    Las superficies exteriores de los equipos deben estar diseñadas y construidas de manera que faciliten su limpieza y
                                    desinfección y eviten la acumulación de suciedades, microorganismos, plagas u otros agentes contaminantes del
                                    alimento.
                                </li>
                                
                                <li>
                                    Las tuberías empleadas para la conducción de alimentos deben ser de materiales resistentes, inertes, no porosos,
                                    impermeables y fácilmente desmontables para su limpieza y desinfección. Las tuberías fijas se limpiarán y
                                    desinfectarán
                                    mediante la recirculación de las sustancias previstas para este fin.
                                </li>
                            </p>

                            <div class="consultas">
                                <a href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-0683-de-2012.pdf"
                                    class="consulta" target="_blank">
                                    Resolución 683 de 2012
                                </a>
                                <a href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-4142-de-2012.pdf"
                                    class="consulta" target="_blank">
                                    Resolución 4142 de 2012
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>