<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            IMPORTANCIA DEL AGUA
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Importancia del agua
                            </h4>
                            <p>
                                En cuanto al agua y su relación con el crecimiento microbiano, se conoce el término: actividad del agua (AW), la cual
                                es una medida de la disponibilidad del agua para las funciones biológicas y se relaciona con el agua libre, presente en
                                un alimento. Es por ello que en los equipos y utensilios, se debe hacer correcta limpieza y desinfección, para evitar
                                dejar residuos de alimentos, que puedan quedar en ellos.
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>