.bloque-principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 1024px;
    height: 100%;
    min-height: 100vh;
    padding: 8px;
}

.titulo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.titulo img{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.div1 {
    position: relative;
    bottom: 3px;
    width: 3%;
    height: 3%;
    margin-right: 5px;
}

.div1 .div2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.div1:hover .div2 {
    opacity: 1;
}

.button-course{
    position: relative;
    border-radius: 12px;
    border: 1px #2E95B6 solid;
    background-color: #2E95B6;
    color: #f7f7f7;
    font-weight: 600;
    font-size: 18px;
    width: 150px;
    height: 50px;  
    float: right;
    margin-left: 14px;
}

.button-course:hover{
    background-color: #00BFA6;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    box-shadow: 1px 2px 4px 2px #168f67;
}

.contenido-informativo{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.video-info{
    width: 65%;
    height: 60%;
}

.video-info iframe{
    border-radius: 6px;
    width: 100%;
    height: 400px;
}

.informativo{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 90%;
    text-align: justify;
}

.informativo h1{
    font-size: 30px;
    font-weight: 700;
}

.informativo h2{
    font-size: 20px;
}

.informativo p,
.informativo ol{
    font-size: 15px;
}

.lista-modulos{
    position: absolute;
    bottom: 50%;
    left: 67.8%;
    background-color: #2B4848;
    color: #f7f7f7;
    width: 30%;
    height: 48.5%;
    border-radius: 6px;
    padding: 6px;
}

.lista-modulos h2{
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

.lista-modulos hr{
    margin-top: 12px;
}

.lista-modulos ul{
    margin: 8px;
}

.lista-modulos li{
    font-size: 14.5px;
    margin-bottom: 5px;
}




