<div class="bloque-principal">
    <div class="titulo">
        <div class="div1">
            <div class="images">
                <img src="../../../assets/image/arrow-left-circle-svgrepo-com.svg">
            </div>
            <div class="div2">
                <img src="../../../assets/image/arrow-left-circle-hover-svgrepo-com.svg" routerLink="/user-home">
            </div>
        </div>
        <h1>Buenas Prácticas de Manufactura</h1>
        <button class="button-course">Ingresar</button>
    </div>
    <div class="contenido-informativo">
        <div class="video-info">
            <iframe width="500px" src="https://www.youtube.com/embed/kktStLNE41I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
        <div class="informativo">
            <h1>Acerca del curso</h1>
            <div class="content-description">
                <h2>Descripción</h2>
                <p>
                    La finalidad del curso es dar a conocer a los estudiantes diferentes principios y requisitos
                    sanitarios que se encuentran establecidos en la Resolución 2674 del 2013 con el objetivo de
                    asegurar el conocimiento sobre Buenas Prácticas de Manufactura (BPM) en la industria
                    alimentaria garantizando en los alimentos condiciones sanitarias adecuadas y además se
                    disminuyan los posibles riesgos existentes en la fabricación, procesamiento, preparación,
                    envase, almacenamiento, transporte, distribución y comercialización de alimentos y
                    materias primas de alimentos.
                </p>
            </div>
            <h2>Objetivos</h2>
            <ol>
                <li>
                    Aprender sobre historia y evolución referente a la microbiología alimentaria.
                </li>
                <li>
                    Generar conocimiento en los estudiantes relacionados con:
                    <ul>
                        <li>
                            ¿Qué son las Buenas Prácticas de Manufactura (BPM)?
                        </li>
                        <li>
                            Conocer sobre instituciones y normativas que reglamentan la aplicación de las Buenas
                            Prácticas de Manufactura en la Industria alimentaria colombiana.
                        </li>
                        <li>
                            Identificar las condiciones básicas de higiene en la fabricación de alimentos.
                        </li>
                        <li>
                            Conocer aspectos para la vigilancia y control en las empresas realizadas por entes
                            encargados de la inocuidad alimentaria.
                        </li>
                    </ul>
                </li>
                <li>
                    Realizar evaluación continua de cada uno de los módulos expuestos en el curso para el
                    autoaprendizaje de los estudiantes que lo desarrollan.
                </li>
            </ol>
        </div>
        <div class="lista-modulos">
            <h2>MÓDULOS</h2>
            <hr>
            <ul>
                <li>Módulo I: Historia y evolución</li>
                <li>Módulo II: Legislación e instituciones nacionales e internacionales</li>
                <li>Módulo III: Edificaciones e instalaciones</li>
                <li>Módulo IV: Equipos y utensilios</li>
                <li>Módulo V: Personal manipulador de alimentos</li>
                <li>Módulo VI: Requisitos de higiene y fabricación</li>
                <li>Módulo VII: Aseguramiento y control de calidad</li>
                <li>Módulo VIII: Saneamiento</li>
                <li>Módulo IX: Almacenamiento</li>
                <li>Módulo X: Restaurantes y establecimientos gastronómicos</li>
            </ul>
        </div>
    </div>
</div>
