<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            ¿QUÉ ES LA INSPECCIÓN, VIGILANCIA Y CONTROL (IVC) SANITARIO?
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                ¿Qué es la inspección, vigilancia y control (IVC) sanitario?
                            </h4>
                            <p>
                                Es la responsabilidad estatal y ciudadana de lograr proteger la salud individual y colectiva, mediante la minimización
                                de riesgos, daños e impactos negativos para la salud humana por el uso de consumo de bienes y servicios, en
                                establecimientos de interés en salud pública, a través de verificación, asesoría y asistencia técnica del cumplimiento
                                normativo, en aspectos relacionados con condiciones sanitarias: infraestructura, agua y saneamiento básico, control de
                                calidad, procesos y procedimientos, cualificación del talento humano, monitoreo de efectos en salud.
                                <br><br>
                                En el caso del área de producción de los alimentos; La importancia de la inspección, vigilancia y control (IVC)
                                sanitaria, radica en que el establecimiento o sujeto de interés se ajuste a la totalidad de los requisitos sanitarios
                                legales y así se minimicen los riesgos, daños e impactos negativos para la salud humana.
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>