<section>
    <div class="window"></div>
    <div class="content-terms">
        <div class="title-terms">
            <h2>TÉRMINOS Y CONDICIONES</h2>
        </div>

        <div class="container-terms">

            <div class="terms">
                <h3>Términos y condiciones</h3>
                <p>
                    Los siguientes términos y condiciones aplican sin excepción a todo aprendiz que se inscriba en los
                    cursos dictados por
                    el programa de Bacteriología y Laboratorio Clínico de la Universidad de Santander. Es
                    responsabilidad del inscrito
                    informarse sobre los términos y condiciones del servicio y la utilización de éste, así como también,
                    los servicios que
                    se ofrecen implican su aceptación. La Universidad de Santander se reserva el derecho de pedir a un
                    aprendiz que abandone
                    el curso si, en su opinión, no cumple con lo dispuesto por los términos y condiciones.
                </p>
            </div>

            <div class="request">
                <h3>Requisitos</h3>
                <p>
                    Los aprendices participantes de los cursos deben contar como requisitos:
                </p>
                <ul>
                    <li>
                        Ser mayor de 16 años. En caso de que el aprendiz sea menor de 16 años deberá comunicarse con la
                        institución indicando
                        que curso le interesa. Si es aprobada la solicitud, el aprendiz puede iniciar el curso
                    </li>

                    <li>
                        Tener un documento de identificación válido en Colombia o ante cualquier ministerio de
                        relaciones interiores o
                        exteriores del país de origen.
                    </li>

                    <li>
                        Tener un correo electrónico validado.
                    </li>
                </ul>
            </div>

            <div class="cup">
                <h3>Cupo del curso</h3>
                <p>
                    Para la apertura de los cursos se requiere un mínimo de inscritos por curso. De lo contrario el
                    curso será reprogramado
                    avisando a los inscritos vía e-mail.
                </p>
                <p>
                    La Universidad de Santander se reserva el derecho de reprogramar o cancelar los cursos según lo
                    disponga. En el caso de
                    cancelaciones o modificaciones, se les comunicará a los aprendices las nuevas fechas de apertura de
                    los nuevos cursos.

                </p>
            </div>

            <div class="registration">
                <h3>Inscripción a cursos</h3>
                <p>
                    En todos los casos la misma deberá efectuarse vía web en la plataforma OSL UDES completando el
                    registro correspondiente
                    a todos los datos personales y del perfil del aprendiz, declarando la veracidad de estos. Se
                    informará vía e-mail si fue
                    aceptada la inscripción al curso. La Universidad de Santander se reserva el derecho de admisión de
                    acuerdo con el perfil
                    del aprendiz y disponibilidad de cupos.
                </p>
            </div>

            <div class="change">
                <h3>Cambio de fechas</h3>
                <p>
                    La Universidad de Santander se reserva el derecho de reprogramar o cancelar los cursos según lo
                    disponga y/o modificar
                    las fechas del curso. En el caso de cancelación o postergación de estos los aprendices están en la
                    libertad de cancelar
                    la inscripción del curso o cambiarse del curso.
                </p>
            </div>

            <div class="modality">
                <h3>Modalidad del curso</h3>
                <p>
                    Los cursos se realizan totalmente de manera virtual dentro de la plataforma OSL UDES.
                </p>

                <p>
                    Dos días antes de la fecha de inicio programada, los aprendices recibirán por mail el usuario y la
                    contraseña asignada
                    para acceder al aula virtual correspondiente. El acceso a las aulas se habilitará el día de inicio
                    del curso.
                    También recibirán por mail un tutorial explicativo sobre el uso de la plataforma virtual.
                </p>

                <p>
                    Los alumnos podrán acceder en cualquier horario a todo el material necesario para realizar el curso.
                    El material estará
                    disponible permanentemente mientras el curso este abierto. Una vez haya culminado la fecha del
                    curso, si el aprendiz no
                    ha terminado el mismo, la Universidad de Santander dará por cancelada su inscripción y podrá
                    reanudar en una próxima
                    ocasión.
                </p>

                <p>
                    El aprendiz tiene la libertad de navegar por el curso e ir desarrollando los temas y subtemas de
                    este y deberá indicar
                    la finalización de cada módulo del curso para garantizar el registro adecuado de su progreso.
                    Cada curso cuenta con un docente a cargo responsable de realizar un acompañamiento personalizado de
                    los aprendices y
                    mantener una interacción a través de mensajería.
                </p>

                <p>
                    Ante cualquier problema técnico, podrá consultar al mail <a>alvaro.martinezudes2@gmail.com.</a>
                </p>

            </div>

            <div class="certificate">
                <h3>Certificado de cursos</h3>
                <p>
                    "El certificado, avalado por la Universidad de Santander, se enviará digitalizado vía e-mail una semana posterior a la finalización del curso.
                </p>
                <p>
                    La finalización de los cursos está sujeta a la presentación y evaluación final del curso, la cual se
                    apertura después se
                    haya comprobado el 100% de progreso en el desarrollo del curso y se podrá dar hasta dos intentos
                    para su presentación
                    con un tiempo de duración estimado por el docente del curso de acuerdo con la complejidad de la
                    prueba.
                </p>
            </div>

        </div>

        <div class="container-confirm">
            <a (click)="curso()">Aceptar</a>
        </div>

    </div>
</section>