<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            PROHIBICIONES EN LA INDUSTRIA ALIMENTARIA
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Prohibiciones en la industria alimentaria
                            </h4>
                            <p>
                                Esta completamente prohibido en la industria alimentaria:
                                <br> <br>
                                <li>
                                    Disponer los alimentos directamente sobre el piso de los medios de transporte.
                                </li>

                                <li>
                                    Transportar conjuntamente en un mismo vehículo alimentos o materias primas con sustancias peligrosas y otras
                                    sustancias que por su naturaleza representen riesgo de contaminación del alimento o la materia prima.
                                </li>

                                <li>
                                    En cuanto a los vehículos transportadores de alimentos deben llevar en su exterior en forma claramente visible la
                                    leyenda: Transporte de Alimentos.
                                </li>

                                <li>
                                    Las autoridades sanitarias practicarán la inspección en el vehículo y/o medio de transporte y, por acta harán constar
                                    las condiciones sanitarias del mismo.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>