<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            OPERACIONES DE PREPARACIÓN Y SERVIDO DE LOS ALIMENTOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Operaciones de preparación y servido de los alimentos
                            </h4>
                            <p>
                                Cumplirán con los siguientes requisitos:
                                <br> <br>
                                <li>
                                    El recibo de insumos e ingredientes para la preparación y servido de alimentos se hará en un lugar limpio y protegido
                                    de la contaminación ambiental y se almacenarán en recipientes adecuados.
                                </li>

                                <li>
                                    Los alimentos o materias primas crudos, tales como, hortalizas, frutas, carnes y productos hidrobiológicos que se
                                    utilicen en la preparación de los alimentos deben ser lavados con agua potable corriente antes de su preparación.
                                </li>

                                <li>
                                    Las hortalizas y frutas que se consuman deben someterse a limpieza y desinfección con sustancias autorizadas por el
                                    Ministerio de Salud y Protección Social.
                                </li>

                                <li>
                                    Los alimentos perecederos, tales como, leche y sus derivados, carne y preparados, productos de la pesca deben
                                    almacenarse en recipientes separados, bajo condiciones de refrigeración y/o congelación y no podrán almacenarse
                                    conjuntamente con productos preparados o listos para el consumo con el fin de evitar la contaminación cruzada.
                                </li>

                                <li>
                                    El personal que está directamente vinculado a la preparación o servido de los alimentos no debe manipular dinero
                                    simultáneamente.
                                </li>

                                <li>
                                    El personal que está directamente vinculado a la preparación o servido de los alimentos no debe manipular dinero
                                    simultáneamente.
                                </li>

                                <li>
                                    Los alimentos y bebidas expuestos para la venta deben mantenerse en vitrinas, campanas plásticas, mallas metálicas o
                                    plásticas o cualquier sistema apropiado que los proteja del ambiente exterior.
                                </li>

                                <li>
                                    El servido de los alimentos debe hacerse con utensilios (pinzas, cucharas, etc.) según sea el tipo de alimento,
                                    evitando en todo caso el contacto del alimento con las manos.
                                </li>

                                <li>
                                    El lavado y desinfección de utensilios debe hacerse con agua potable corriente, jabón o detergente y cepillo y con
                                    especial cuidado en las superficies donde se pican o fraccionan los alimentos, las cuales deben estar en buen estado de
                                    conservación e higiene; las superficies para el picado deben ser de material sanitario, de preferencia plástico, nylon,
                                    polietileno o teflón.
                                </li>

                                <li>
                                    La limpieza y desinfección de los utensilios que tengan contacto con los alimentos se hará en tal forma y con
                                    elementos o productos que no generen ni dejen sustancias peligrosas durante su uso. Esta desinfección debe realizarse
                                    mediante la utilización de agua caliente, vapor de agua o sustancias químicas autorizadas para este efecto.
                                </li>

                                <li>
                                    Cuando los establecimientos no cuenten con agua y equipos en cantidad y calidad suficientes para el lavado y
                                    desinfección, los utensilios que se utilicen deben ser desechables con el primer uso.
                                </li>

                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>