<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            LOS RESTAURANTES Y ESTABLECIMIENTOS DESTINADOS A LA PREPARACIÓN Y CONSUMO DE ALIMENTOS CUMPLIRÁN CON LAS CONDICIONES
                            SANITARIAS GENERALES
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Los restaurantes y establecimientos destinados a la preparación y consumo de alimentos cumplirán con las condiciones
                                sanitarias generales
                            </h4>
                            <p>
                                <li>
                                    Su funcionamiento no debe poner en riesgo la salud y el bienestar de la comunidad.
                                </li>

                                <li>
                                    Sus áreas deben ser independientes de cualquier tipo de vivienda y no pueden ser utilizadas como dormitorio.
                                </li>

                                <li>
                                    Se localizarán en sitios secos, no inundables y en terrenos de fácil drenaje.
                                </li>

                                <li>
                                    No se podrán localizar junto a botaderos de basura, pantanos, ciénagas y sitios que puedan ser criaderos de insectos,
                                    roedores u otro tipo de plaga.
                                </li>

                                <li>
                                    El manejo de residuos líquidos debe realizarse de manera que impida la contaminación del alimento o de las superficies
                                    de potencial contacto con este.
                                </li>

                                <li>
                                    Los alrededores se conservarán en perfecto estado de aseo, libres de acumulación de basuras, formación de charcos o
                                    estancamientos de agua.
                                </li>

                                <li>
                                    Deben estar diseñados y construidos para evitar la presencia de insectos, roedores u otro tipo de plaga.
                                </li>

                                <li>
                                    Deben disponer de suficiente abastecimiento de agua potable.
                                </li>

                                <li>
                                    Contarán con servicios sanitarios para el personal que labora en el establecimiento, debidamente dotados y separados
                                    del área de preparación de los alimentos.
                                </li>

                                <li>
                                    Deben tener sistemas sanitarios adecuados, para la disposición de aguas servidas y excretas.
                                </li>

                                <li>
                                    Contarán con servicio sanitario en cantidad suficiente para uso público, salvo que por limitaciones del espacio físico
                                    no lo permita, caso en el cual se podrían utilizar los servicios sanitarios de uso del personal que labora en el
                                    establecimiento o los ubicados en los centros comerciales.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>