<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            MATERIAS PRIMAS E INSUMOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Materias primas e insumos
                            </h4>
                            <p>
                                Las materias primas e insumos para las actividades de fabricación, preparación, procesamiento, envase y almacenamiento
                                de alimentos deben cumplir con los siguientes requisitos:
                                <br><br>
                                <li>
                                    La recepción de materias primas debe realizarse en condiciones que eviten su contaminación, alteración y daños físicos y
                                    deben estar debidamente identificadas de conformidad con la Resolución 5109 de 2005 o las normas que la modifiquen.
                                </li>
                                <li>
                                    Toda materia prima debe poseer una ficha técnica
                                </li>

                                <li>
                                    Las materias primas e insumos deben ser inspeccionados previo al uso, clasificados y sometidos a análisis de laboratorio.
                                </li>

                                <li>
                                    Las materias primas se someterán a la limpieza con agua potable u otro medio adecuado de ser requerido y, si le
                                    aplica, a la descontaminación previa a su incorporación en las etapas sucesivas del proceso.
                                </li>

                                <li>
                                    Las materias primas conservadas por congelación que requieren ser descongeladas previo al uso, deben descongelarse a
                                    una velocidad controlada para evitar el desarrollo de microorganismos y no podrán ser recongeladas.
                                </li>

                                <li>
                                    Las materias primas e insumos que requieran ser almacenadas antes de entrar a las etapas de proceso, deben almacenarse
                                    en sitios adecuados que eviten su contaminación y alteración.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>