<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            CONDICIONES ESPECÍFICAS DEL ÁREA DE PREPARACIÓN DE ALIMENTOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Condiciones específicas del área de preparación de alimentos
                            </h4>
                            <p>
                                El área de preparación de los alimentos, cumplirá con las siguientes condiciones sanitarias específicas:
                                <br> <br>
                                <li>
                                    Los pisos deben estar construidos con materiales que no generen sustancias o contaminantes tóxicos, resistentes, no
                                    porosos, impermeables no absorbentes, no deslizantes y con acabados libres de grietas o defectos que dificulten la
                                    limpieza, desinfección y el mantenimiento sanitario.
                                </li>

                                <li>
                                    Las paredes deben ser de colores claros, materiales resistentes, impermeables, no absorbentes y de fácil limpieza y
                                    desinfección. Además hasta una altura adecuada, las mismas deben poseer acabado liso y sin grietas.
                                </li>

                                <li>
                                    Los techos deben estar diseñados de manera que se evite la acumulación de sucie¬dad, la condensación, la formación de
                                    hongos, el desprendimiento superficial y además se facilite la limpieza y el mantenimiento.
                                </li>

                                <li>
                                    Los residuos sólidos deben ser removidos frecuentemente del área de preparación de los alimentos, para esto,
                                    disponerse de suficientes, adecuados y bien ubicados recipientes así como de locales e instalaciones si es del caso para
                                    el almacenamiento de los residuos sólidos.
                                </li>

                                <li>
                                    Debe disponerse de recipientes de material sanitario para el almacenamiento de des-perdicios orgánicos debidamente
                                    tapados.
                                </li>

                                <li>
                                    Se prohíbe el acceso de animales y la presencia de personas diferentes a los mani-puladores de alimentos.
                                </li>

                                <li>
                                    Se prohíbe el almacenamiento de sustancias peligrosas en la cocina.
                                </li>

                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>