<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            PREVENCIÓN DE LA CONTAMINACIÓN CRUZADA
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Prevención de la contaminación cruzada
                            </h4>
                            <p>
                                Con el propósito de prevenir la contaminación cruzada, se deben cumplir los siguientes requisitos:
                                <br> <br>
                                <li>
                                    Durante las operaciones de fabricación, procesamiento, envasado y almacenamiento se tomarán medidas eficaces para evitar
                                    la contaminación de los alimentos por contacto directo o indirecto con materias primas que se encuentren en las fases
                                    iníciales del proceso.
                                </li>

                                <li>
                                    Hasta que no se cambien de indumentaria y adopten las debidas precauciones higiénicas y medidas de protección, las
                                    personas que manipulen materias primas o productos semielaborados susceptibles de contaminar el producto final no deben
                                    entrar en contacto con el producto terminado.
                                </li>

                                <li>
                                    Cuando exista el riesgo de contaminación en las diversas fases del proceso de fabricación, el personal manipulador debe
                                    lavarse las manos entre una y otra operación en el proceso de elaboración.
                                </li>

                                <li>
                                    Las operaciones de fabricación deben realizarse en forma secuencial y continua para evitar el cruce de flujos de
                                    producción.
                                </li>

                                <li>
                                    Todo equipo y utensilio que haya entrado en contacto con materias primas o con material contaminado debe limpiarse y
                                    desinfectarse cuidadosamente antes de ser nuevamente utilizado.
                                </li>

                                <li>
                                    Cuando sea requerido, se deben implementar filtros sanitarios.

                                    <a href="https://www.youtube.com/watch?v=7FC1opS1FSs" target="_blank"
                                        class="consulta">
                                        Contaminación cruzada
                                    </a>
                                </li>

                                Para que la higiene y fabricación de los alimentos sea la adecuada, se debe tener en cuenta:
                                <br> <br>
                                Las industrias productoras de alimentos deben tener instalaciones apropiadas para el almacenamiento del agua y su
                                distribución. <strong>Garantizar la inocuidad</strong> en el abastecimiento de agua, se basa principalmente, en llevar a cabo controles
                                desde el origen del agua hasta su utilización, evitando a toda costa, su contaminación o detectar a tiempo niveles
                                perjudiciales para la salud. Es importante contratar los servicios de un laboratorio certificado para el análisis de
                                aguas, y garantizar de esta manera que las operaciones de higiene y fabricación, de las que se mencionaron en el
                                presente módulo, están protegidas y en orden de cumplimiento.

                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>