<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            ENVASADO Y EMBALADO
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Envasado y embalado
                            </h4>
                            <p>
                                Las operaciones de envasado y embalado de los alimentos o materias primas deben cumplir con los siguientes requisitos:
                                <br> <br>
                                <li>
                                    El envasado y embalado debe hacerse en condiciones que impidan la contaminación del alimento o materias primas y debe
                                    realizarse en un área exclusiva para este fin.
                                </li>

                                <li>
                                    Identificación de lotes. Cada envase y embalaje debe llevar marcado o grabado la identificación de la fábrica productora
                                    y el lote de fabricación, la cual se debe hacer en clave o en lenguaje claro, de forma visible, legible e indeleble:

                                    <a href="https://www.youtube.com/watch?v=DpSB8dno-DU" target="_blank"
                                        class="consulta">
                                        Como lotificar materias primas y producto terminado
                                    </a>
                                </li>

                                <li>
                                    Registros de elaboración, procesamiento y producción. De cada lote debe llevarse un registro, legible y con fecha de los
                                    detalles pertinentes de elaboración, procesamiento y producción.
                                </li>

                                <li>
                                    Todo producto al momento de salir de una planta de proceso, independiente de su destino debe encontrarse debidamente
                                    rotulado, de conformidad con lo establecido en la reglamentación sanitaria vigente.
                                </li>

                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>