<div class="contenedor-bienvenida">
    <div class="bienvenida-titulo">
        <h3>¡Le damos la bienvenida al módulo {{modulo}}!</h3>
        <h4>{{tituloWelcome}}</h4>
    </div>
    <div class="bienvenida-body">
        <h5>Selecciona la sección que desea iniciar:</h5>
        <a class="contenido" (click)="contenido()">
            Contenido
        </a>
        <a class="sabias" (click)="sabia()">
            ¿Sabías qué?
        </a>
        <a class="quiz" (click)="quizz()">
            Quiz formativo
        </a>
    </div>
</div>
