<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            En definitiva, los manipuladores de alimentos, son protagonistas para obtener alimentos inocuos, o por el contrario de
                            también son responsables de llegar a contaminar los alimentos, cuando no se tienen en cuenta todos los aspectos
                            estipulados por la normatividad colombiana, que van desde el reconocimiento médico, tras realizar análisis clínicos, así
                            como también la educación y capacitación constantes son fundamentales para mantener la organización y así realizar
                            operaciones adecuadas para obtener alimentos de calidad.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>