<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            FABRICACIÓN
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Fabricación
                            </h4>
                            <p>
                                Las operaciones de fabricación deben cumplir con los siguientes requisitos:
                                <br> <br>
                                <li>
                                    Todo el proceso de fabricación del alimento, incluyendo las operaciones de envasado y almacenamiento, deben realizarse
                                    en óptimas condiciones sanitarias, de limpieza y conservación y con los controles necesarios para reducir el
                                    crecimiento de microorganismos y evitar la contaminación del alimento.

                                    <a href="https://www.youtube.com/watch?v=lomADwYsNu0" target="_blank" class="consulta">
                                        Factores que afectan el crecimiento microbiano
                                    </a>
                                </li>
                                <br>
                                <li>
                                    Se deben establecer y registrar todos los procedimientos de control físicos, químicos, microbiológicos y organolépticos
                                    en los puntos críticos del proceso de fabricación.
                                </li>

                                <li>
                                    Los alimentos que por su naturaleza permiten un rápido crecimiento de microorganismos indeseables, deben mantenerse en
                                    condiciones tales que se evite su proliferación. Para el cumplimiento de este requisito deben adoptarse medidas
                                    efectivas como:

                                    <a href="https://www.youtube.com/watch?v=IHqkS3JxIxc" target="_blank" class="consulta">
                                        Tecnología alimentaria
                                    </a>
                                </li>
                                <br>
                                <li>
                                    Las operaciones de fabricación deben realizarse en forma secuencial y continua para que no se produzcan retrasos
                                    indebidos que permitan el crecimiento de microorganismos, contribuyan a otros tipos de deterioro o contaminación del
                                    alimento.
                                </li>

                                <li>
                                    Los procedimientos mecánicos de manufactura, tales como, lavar, pelar, cortar, clasificar, desmenuzar, extraer, batir,
                                    secar, entre otros, deben realizarse de manera tal que se protejan los alimentos y las materias primas de la
                                    contaminación.
                                </li>

                                <li>
                                    Cuando en los procesos de fabricación se requiera el uso de hielo en contacto con los alimentos y materias primas, este
                                    debe ser fabricado con agua potable y manipulado en condiciones que garanticen su inocuidad.
                                </li>

                                <li>
                                    Se deben tomar medidas efectivas para proteger el alimento de la contaminación por metales u otros materiales extraños,
                                    instalando mallas, trampas, imanes, detectores de metal o cualquier otro método apropiado.
                                </li>

                                <li>
                                    Las áreas y equipos usados en la fabricación de alimentos para consumo humano no deben ser utilizados para la
                                    elaboración de alimentos o productos de consumo animal o destinados a otros fines.
                                </li>

                                <li>
                                    No se permite el uso de utensilios de vidrio en las áreas de elaboración debido al riesgo de ruptura y contaminación del
                                    alimento.
                                </li>

                                <li>
                                    Los productos devueltos a la empresa por defectos de fabricación, que tengan incidencia sobre la inocuidad y calidad del
                                    alimento no podrán someterse a procesos de reenvase, reelaboración, reproceso, corrección o reesterilización bajo
                                    ninguna justificación.
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<content-embedded [link]="direcciones.microbiano"></content-embedded>
-->