<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            Una vez culminado este módulo, es importante tener en cuenta que, para la comprensión de las Buenas prácticas de
                            manufactura, el participante o aprendiz debe conocer las instituciones que regulan en el mundo y en Colombia, todo lo
                            relacionado con calidad e inocuidad alimentaria, como ejes vitales de la Seguridad alimentaria. Al reconocer la historia
                            en una línea del tiempo de la legislación sanitaria en Colombia, se percibe todo el esfuerzo de los diferentes actores,
                            y de los avances que se han logrado al pasar el tiempo con el fin de apoyar el buen manejo y el logro de alimentos cada
                            vez más seguros.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>