<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                Fácilmente desmontables para su limpieza y desinfección.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                <strong>5. Las tuberías empleadas para la conducción de alimentos deben ser de materiales resistentes, inertes, no porosos,
                                impermeables y </strong>fácilmente desmontables para su limpieza y desinfección.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                Deben estar dotados de los instrumentos y accesorios requeridos para la medición y registro de las variables del
                                proceso.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                <strong>4. Los equipos que se utilicen en operaciones críticas para lograr la inocuidad del alimento</strong> : Deben estar dotados de los instrumentos y accesorios requeridos para la medición y registro de las variables
                                del proceso.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                La secuencia lógica del proceso tecnológico, desde la recepción de las materias primas y demás ingredientes, hasta el
                                envasado y embalaje del producto terminado.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                <strong>3. Los equipos deben estar instalados y ubicados según</strong> La secuencia lógica del proceso tecnológico, desde la recepción de las materias primas y demás ingredientes, hasta el
                                envasado y embalaje del producto terminado.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                La limpieza, desinfección e inspección.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                <strong>2. Todas las superficies de contacto con el alimento deben ser fácilmente accesibles o desmontables para </strong>La limpieza, desinfección e inspección.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc5">
                        <label for="acc5">
                            <p>
                                De los agentes de limpieza y desinfección.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                <strong>1. Los equipos y utensilios empleados en el manejo de alimentos deben estar fabricados con materiales resistentes al uso
                                y a la corrosión, así como a la utilización frecuente </strong>De los agentes de limpieza y desinfección.
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>