<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                1. Dentro de un restaurante, las áreas deben ser independientes de cualquier tipo de vivienda y no pueden ser utilizadas
                                como dormitorio.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero. Dentro de un restaurante, las áreas deben ser independientes de cualquier tipo de vivienda y no pueden ser
                                utilizadas como dormitorio.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. En un restaurante no es necesario que cuenten con servicios sanitarios para el personal que labora en el
                                establecimiento, debidamente dotados y separados del área de preparación de los alimentos.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso: los restaurantes Contarán con servicios sanitarios para el personal que labora en el establecimiento,
                                debidamente dotados y separados del área de preparación de los alimentos.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. Los alimentos y bebidas expuestos para la venta deben mantenerse en vitrinas, campanas plásticas, mallas metálicas o
                                plásticas o cualquier sistema apropiado que los proteja del ambiente exterior.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero. Los alimentos y bebidas expuestos para la venta deben mantenerse en vitrinas, cam¬panas plásticas, mallas
                                metálicas o plásticas o cualquier sistema apropiado que los proteja del ambiente exterior.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. En un restaurante, las paredes pueden estar en cualquier color, materiales resistentes, permeables, no absorbentes y de
                                fácil limpieza y desinfección.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso. Las paredes deben ser de colores claros, materiales resistentes, impermeables, no absorbentes y de fácil
                                limpieza y desinfección.
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>