<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                1. El manipulador de alimentos debe efectuarse un reconocimiento médico cada dos años por razones clínicas y
                                epidemiológicas.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso, el manipulador debe tener reconocimiento médico cada vez que sea necesario.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. En el año, el manipulador debe recibir 5 horas de capacitación.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso, se exigen un mínimo de 10 horas anuales, plasmadas en el plan de capacitación.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. Como resultado de la valoración médica se debe expedir un certificado en el cual conste la aptitud o no para la
                                manipulación de alimentos.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero, se debe conocer si es apto o no para la manipulación de alimentos
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. Se permite tener esmalte transparente
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso, no se permite ningún tipo de esmalte
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc5">
                        <label for="acc5">
                            <p>
                                5. Se colocarán en sitios estratégicos avisos alusivos a la obligatoriedad y necesidad de su observancia durante la
                                manipulación de alimentos.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero, es necesario hacer exigencia de las practicas higiénicas y recordarlo mediante avisos.
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>