<section>
    <div class="contenedor">
        <a class="cierre" (click)="cierre()">
            <img src="assets/image/close.png">
        </a>
        <h6>{{hitos}}</h6>
        <div class="main">
            <h3 class="heading">
                {{titulo}}
            </h3>
            <div class="contenedor-linea">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=NtqqV01ue34" target="_blank">
                            <h3 class="title">Período paleolítico</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">2'500.000 A.C</span>
                        </a>

                    </li>

                    <li>
                        <a id="sinContenido" target="_blank">
                            <h3 class="title">Leyes alimenticias</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">200 A.C</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.biografiasyvidas.com/biografia/l/leeuwenhoeck.htm" target="_blank">
                            <h3 class="title">Microscopio primitivo</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1674</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.biografiasyvidas.com/biografia/a/appert.htm" target="_blank">
                            <h3 class="title">Botellas de vidrio</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1804</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://historia.nationalgeographic.com.es/a/lata-conserva-nace-dieta-industrial_11258" target="_blank">
                            <h3 class="title">Conservación enlatado</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1819</span>
                        </a>
                    </li>


                    <li>
                        <a href="https://www.minsal.cl/botulismo/#:~:text=%C2%BFQU%C3%89%20ES%20EL%20BOTULISMO%3F,entonces%20%C2%ABenfermedad%20de%20Kerner%C2%BB." target="_blank">
                            <h3 class="title">Botulismo</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1820</span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank">
                            <h3 class="title">Cloro en el suministro del agua</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1856</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.biografiasyvidas.com/biografia/p/pasteur.htm" target="_blank">
                            <h3 class="title">Microbiología fermentativa</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1857</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>