<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>CARACTERISTICAS ESPECIFICAS DE LAS BACTERIAS PARA EL DIAGNOSTICO A NIVEL INDUSTRIAL Y CLINICO</h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Características específicas de las bacterias para el diagnóstico a nivel industrial y clínico
                            </h4>
                            <p>
                                Es importante tener en cuenta las características que permiten a los microorganismos desarrollarse. A continuación se presentan:
                                <br><br>
                                <b>Dimensiones</b>: todos tienen una característica en común: y es su reducida dimensión, esto les proporciona a los
                                microbios
                                ventajas como el intercambio rápido de sustancias con el medio externo.
                                <br>
                                <b>Resistencia</b>: A diferencia de los organismos superiores, los microbios subsisten a la actividad de agentes
                                físicos
                                y
                                químicos, y a condiciones diversas extremas.
                                <br>
                                <b>Heterogeneidad</b>: existen diferentes comportamientos de los microbios, por ejemplo, los halófilos, resisten
                                altas
                                concentraciones de sal y por ende resisten los efectos desnaturalizantes de la sal; por otro lado, los osmóticos,
                                sobreviven en medios con alta presión osmótica.
                                <br>
                                <b>Multiplicación</b>: los microorganismos se dividen a gran velocidad, por ejemplo, en 30 minutos iniciales, en un
                                alimento
                                con 500 bacterias, al cabo de 6 horas pueden haber 2´050,000 de bacterias.
                                <br>
                                <b>Ubicuidad</b>: los microorganismos se pueden encontrar, el agua, en la tierra, y en los alimentos.
                                <br>
                                <b>Patogenicidad</b>: se refiere a la habilidad que tienen los microorganismos que tienen para producir
                                enfermedades,
                                por ello,
                                a algunos de ellos, los que la tienen, se les llama patógenos.
                                <br>
                                <b>Plasticidad genética</b>: se considera a la capacidad de transferencia horizontal de genes, que les permite
                                recombinar y así
                                recolectar todos los caracteres favorables.
                                <br>
                                <b>Flexibilidad metabólica</b>: todos los microorganismos desarrollan sus reacciones bioquímicas con rapidez, por
                                este
                                motivo,
                                pueden alterar progresiva y rápidamente el medio en el que viven, hasta llegar a agotar los nutrientes e inundarlo
                                de
                                residuos.
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
