<div class="bloque-principal">
    <div class="cabecera">
        <div class="izquierda">
            <a href="" class="cont-logo">
                <img src="../../../../assets/image/bacteria.png">
            </a>
            <h1>Health Train</h1>
        </div>
        <div class="derecha">
            
            <nav class="menu">
                <a class="nav-menu" routerLinkActive="active" routerLink="home">Inicio</a>
                <a class="nav-menu" routerLinkActive="active">Foro</a>
                <a class="nav-menu" routerLinkActive="active">Contacto</a>
            </nav>
            <a class="login-session" routerLinkActive="active" routerLink="/login">
                <img src="../../../../assets/image/log-in.svg">
                <p>Iniciar sesión</p> 
            </a>
        </div>
    </div>

    <button id="boton-hamburguesa" (click)="hamburguesa()">
        <span *ngIf="openHamburguesa">&#9776;</span>
        <span *ngIf="closeHamburguesa">&#120;</span>
    </button>
    <nav *ngIf="menuHamburguesa" id="menu-hamburguesa">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Foro</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </nav>

    <div class="contenedor-texto">
        <div class="info-1">
            <h1>
                Anímate a sumergirte en el mundo del conocimiento
            </h1>

            <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

            <div class="button-courses" routerLinkActive="active" routerLink="/login">
                <a>
                    Inicia la aventura
                </a>
            </div>
        </div>

        <div>
            <div class="img-1">
                <img src="../../../../assets/image/cientifica-cabello-largo-gafas.png" alt="">
            </div>
        </div>

    </div>

</div>
