<section>
    <div class="contenedor">
        <a class="cierre" (click)="cierre()">
            <img src="assets/image/close.png">
        </a>
        <h6>{{hitos}}</h6>
        <div class="main">
            <h3 class="heading">
                {{titulo}}
            </h3>
            <div class="contenedor-linea">
                <ul>
                    <li>
                        <a href="https://cals.cornell.edu/microbiology/research/active-research-labs/angert-lab/epulopiscium-en-espanol/endospora-de-bacterias" target="_blank">
                            <h3 class="title">Bacillus subtilis</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1877</span>
                        </a>

                    </li>

                    <li>
                        <a href="https://www.biografiasyvidas.com/biografia/l/lister_joseph.htm" target="_blank">
                            <h3 class="title">Streptococcus lactis</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1878</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/watch?v=znoqqYJwRTc" target="_blank">
                            <h3 class="title">Tinción de las células bacterianas</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1884</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.who.int/es/news-room/fact-sheets/detail/botulism" target="_blank">
                            <h3 class="title">Clostridium botulinum</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1895</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.cdc.gov/spanish/listeria/index.html"
                            target="_blank">
                            <h3 class="title">Listeria monocytogenes</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1926</span>
                        </a>
                    </li>


                    <li>
                        <a href="https://www.ica.gov.co/getdoc/9a20d5a4-2cc0-4bde-b8fc-d4fd7ef3a7bc/encefalopatia-espongiforme-bovina-(eeb).aspx"
                            target="_blank">
                            <h3 class="title">Encefalopatía espongiforme bovina</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">1986</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://delphipages.live/salud-y-medicina/medicamento/medicos/william-budd"
                            target="_blank">
                            <h3 class="title">Virus H1N1</h3>
                            <span class="cicle">
                            </span>
                            <span class="date">2009</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>