<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>EXISTEN ALIMENTOS IMPLICADOS EN INFECCIONES VIRALES, INCLUIDA EL AGUA</h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>Existen alimentos implicados en infecciones virales, incluida el agua</h4>
                            <p>
                                Los virus, derivado de la palabra veneno, son partículas submicroscópicas compuestas tan solo de material genético
                                rodeado por una envoltura protectora, los virus, necesitan parasitar una célula para sobrevivir.<strong> Ejemplo:</strong> Virus de la Hepatitis A.
                                <br><br>
                                La Organización Mundial de la Salud (OMS) ha clasificado los países por endemicidad: alta, intermedia y baja.
                                <br> Teniendo
                                en cuenta las tasas de seroprevalencia especifica de los grupos de edad, los indicadores socioeconómicos y la
                                cobertura
                                del agua potable.
                                <br>
                                En Colombia, la Hepatitis A (HA) sigue aun siendo un importante evento de interés en salud pública, por ello, es
                                necesario contar con herramientas de vigilancia para generar la caracterizar del comportamiento del evento y definir
                                medidas de prevención y control.
                                <br>
                                Se conocen a nivel general, que la enfermedad a acusa de este virus, está estrechamente asociada a factores de
                                riesgo
                                como: deficientes condiciones sanitarias, pobreza, deficiencia en la higiene personal, consumos de alimentos que han
                                sido contaminados, como por ejemplo: productos agrícolas, mariscos, cebollas verdes, lechuga, otras, almejas y
                                mejillones, entre otros, consumir alimentos en establecimientos ambulantes y permanecer en establecimientos con
                                población confinada como escuelas, cárceles, hogares comunitarios y batallones militares, entre otros.
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

