<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            TAMBIÉN SE PUEDEN LLEGAR A ENCONTRAR NOROVIRUS Y EL VIRUS DE LA HEPATITIS A
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Virus importantes
                            </h4>
                            <p>
                                Los virus se consideran importantes por tres razones:
                                <br><br>
                                <li>
                                    Algunos provocan una enfermedad entérica, esto es, que, si se halla en un alimento, puede producir una enfermedad de
                                    origen alimentario
                                </li>

                                <li>
                                    Algunos virus bacterianos, recuerda: los llamados Bacteriófagos, se usan para identificar algunos patógenos, de
                                    acuerdo con la sensibilidad de las células a una serie de bacteriófagos en disoluciones apropiadas
                                </li>

                                <li>
                                    Algunos bacteriófagos son esenciales, porque pueden producir fallas en procesos de fermentación
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>