<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">
                    
                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                            1. ¿Cuál fue el Periodo en el cual se descubrió el fuego?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B. El Periodo en el cual se descubrió el fuego fue en el Paleolítico
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. ¿Cuál Personaje desarrolló métodos para conservar los alimentos en botellas de vidrio selladas por medio de
                                calentamiento en agua hirviendo?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                D. El Personaje desarrolló métodos para conservar los alimentos en botellas de vidrio selladas por medio de calentamiento en agua hirviendo fue Francois Nicolas Appert
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. ¿En qué año se construyó el microscopio primitivo?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B. El año se construyó el microscopio primitivo fue en 1674
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. ¿Qué Personaje abogó en 1856 por el uso del cloro en el suministro del agua, para evitar contaminación de la misma
                                evitando el desarrollo de enfermedades como la fiebre tifoidea en humanos?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B. El Personaje que abogó en 1856 por el uso del cloro en el suministro del agua, para evitar contaminación de esta
                                evitando el desarrollo de enfermedades como la fiebre tifoidea en humanos fue William Budd
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc5">
                        <label for="acc5">
                            <p>
                                5. ¿Qué tipo de microorganismos, descubrió Louis Pasteur como causantes del proceso de fermentación de ciertos ácidos y
                                sustancias indeseables (que agriaban el vino o la cerveza)?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                C. El tipo de microorganismos, descubrió Louis Pasteur como causantes del proceso de fermentación de ciertos ácidos y
                                sustancias indeseables que agriaban el vino o la cerveza fueron las Bacterias
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc6">
                        <label for="acc6">
                            <p>
                                6.¿Quién creó los BPM?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                A. Frederick Taylor 
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc7">
                        <label for="acc7">
                            <p>
                                7.Autoridad sanitaria encargada de vigilar las (BPM) y emitir conceptos sanitarios frente a las mismas.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                A. INVIMA
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc8">
                        <label for="acc8">
                            <p>
                                8.¿Quién certifica las BPM en Colombia?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                A.	ICA
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc9">
                        <label for="acc9">
                            <p>
                                9.¿Qué garantiza las BPM en la industria alimentaria?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B. La inocuidad en la cadena de producción de los alimentos procesados.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc10">
                        <label for="acc10">
                            <p>
                                10.¿Cuál es la norma vigente de las BPM en la industria alimentaria de Colombia?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B.	Resolución 2674 de 2013
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc11">
                        <label for="acc11">
                            <p>
                                11.¿Cuáles son los 4 programas que hacen parte del plan de saneamiento?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                A.	Programa de limpieza y desinfección, programa de control integral de plagas, programa de manejo de residuos sólidos y líquidos, programa de abastecimiento de agua potable.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc12">
                        <label for="acc12">
                            <p>
                                12.Agencia del Gobierno federal de los Estados Unidos cuya misión es proteger la salud pública mediante la prevención y el control de enfermedades, lesiones y discapacidades.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                C.	CDC
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc13">
                        <label for="acc13">
                            <p>
                                13.Resolución por medio de la cual se señalan características, instrumentos básicos y frecuencias del sistema de control y vigilancia para la calidad del agua para consumo humano
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                C.	Resolución 2115 del 2007
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc14">
                        <label for="acc14">
                            <p>
                                14.¿Cuántas horas debe de recibir capacitación anualmente un Manipulador de industria alimentaria, Según la Resolución 2674 del 2013?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                C.	10 horas
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc15">
                        <label for="acc15">
                            <p>
                                15.Medida de la disponibilidad del agua para las funciones biológicas y se relaciona con el agua libre, presente en un alimento.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                A.	 Actividad del agua (aw) 
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc16">
                        <label for="acc16">
                            <p>
                                16.Los productos devueltos a la empresa por defectos de fabricación, que tengan incidencia sobre la inocuidad y calidad del alimento podrán someterse a procesos de reenvase, reelaboración, reproceso, corrección o reesterilización
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B.	No
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc17">
                        <label for="acc17">
                            <p>
                                17.¿Todas las fábricas de alimentos que procesen elaboren o envasen alimentos deben tener acceso a un laboratorio de pruebas externo?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                C.	Incorrecto, deben tener acceso a un laboratorio propio o externo, no solo externo, sino de cualquier índole, siempre y cuando esté avalado para las pruebas requeridas. 
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc18">
                        <label for="acc18">
                            <p>
                                18.El Ministerio de Ambiente y Desarrollo Sostenible, en conjunto con el Ministerio de Vivienda, Ciudad y Territorio, mediante Resolución, establecieron un código de colores unificado para la separación de residuos sólidos. ¿Cuáles son los colores establecidos actualmente?
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                A.	Verde- Blanco - Negro
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc19">
                        <label for="acc19">
                            <p>
                                19.	Los plaguicidas y detergentes deben almacenarse en áreas dependientes de producción y su manipulación sólo podrá hacerla el personal idóneo.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                B.	Incorrecto
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc20">
                        <label for="acc20">
                            <p>
                                20.	Respecto a las BPM Dentro de un restaurante, las áreas deben ser independientes de cualquier tipo de vivienda y no pueden ser utilizadas como dormitorio.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                A.	Correcto
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="fin()">Finalizar</button>

                </div>
            </div>
        </div>
    </div>
</section>
