<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            La historia de la microbiología de los alimentos es muy variable, y para entender sus antecedentes, hay que viajar a
                            diferentes épocas de la historia de la humanidad e ir extrayendo conceptos y descubrimientos importantes relacionados a
                            esta especialidad, a lo que hoy se conoce como una rama certificada dentro de la microbiología.
                            A partir del año 2000, empieza un continuo crecimiento en el desarrollo de programas de forma global para la
                            especialización en la microbiología de alimentos.; Actualmente la microbiología alimentaria es una rama muy estudiada
                            como ciencia en su campo de estudio. Es un ámbito de alta importancia para la seguridad alimentaria, que comprende la
                            esencia del comportamiento de los organismos que habitan y actúan en el seno de las sustancias alimenticias.

                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
