<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                INVIMA
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                3. Agencia Regulatoria Nacional, una entidad de vigilancia y control de carácter técnico científico, que trabaja para la
                                protección de la salud individual y colectiva de los colombianos, mediante la aplicación de las normas sanitarias
                                asociadas al consumo y uso de alimentos, medicamentos, dispositivos médicos y otros productos objeto de vigilancia
                                sanitaria.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                DECRETO 60 DEL 2002
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                5. Decreto por el cual se promueve la aplicación del sistema de análisis de peligros y puntos críticos, - HACCP en la
                                fábrica de alimentos, y se reglamenta el proceso de certificación.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                CDC
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                7. Agencia del Gobierno federal de los Estados Unidos cuya misión es proteger la salud pública mediante
                                la
                                prevención y
                                el control de enfermedades, lesiones y discapacidades.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                OMS/ ORGANIZACIÓN MUNDIAL DE LA SALUD
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                1. Es la autoridad directiva y coordinadora de la acción sanitaria en el sistema de las Naciones Unidas
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc5">
                        <label for="acc5">
                            <p>
                                RESOLUCIÓN 2184 DEL 2019
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                4. Por la cual se modifica la Resolución 668 de 2016 sobre uso racional de bolsas plásticas y se adoptan otras
                                disposiciones. (Código de colores)
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc6">
                        <label for="acc6">
                            <p>
                                RESOLUCIÓN 2115 DEL 2007
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                2. Resolución por medio de la cual se señalan características, instrumentos básicos y frecuencias del sistema de control
                                y vigilancia para la calidad del agua para consumo humano.
                            </p>
                        </div>
                    </div>
                    
                    <div class="tab">
                        <input type="radio" name="acc" id="acc7">
                        <label for="acc7">
                            <p>
                                RESOLUCIÓN 683 DEL 2012
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                6. Establece el Reglamento Técnico, mediante el cual se señalan los requisitos sanitarios que deben cumplir los
                                materiales, objetos, envases y equipamientos destinados a entrar en contacto con alimentos y bebidas para consumo
                                humano, con el fin de proteger la salud humana y prevenir las prácticas que puedan inducir a error a los consumidores.
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>