<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            FUENTES DE CONTAMINACION DE LOS ALIMENTOS
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Fuentes de contaminación de los alimentos
                            </h4>
                            <p>
                                Es importante que reconozca como aprendiz, que los contaminantes están presentes en el medio ambiente, en las plantas,
                                animales, en los insectos y el propio ser humano.
                                <br><br>
                                En cuanto a los equipos y utensilios: todas las superficies que entran en contacto con los alimentos, se pueden
                                convertir en fuentes potenciales de contaminación. Por ello en las empresas productoras de alimentos, es necesario, que
                                se incluyan y estén implementados de manera activa, los programas de limpieza, desinfección y mantenimiento. Se
                                considera de manera general, el nivel de limpieza de una superficie de un equipo o utensilio, tiene una estrecha
                                relación con la concentración de microorganismos que presente una vez se ha hecho la higienización.
                                <br><br>
                                En Colombia, a partir de la Resolución 1229 de 2013 del Ministerio de Salud, se estableció que la inspección, vigilancia
                                y control (IVC) sanitario debían realizarse con enfoque de riesgos.
                                <br><br>
                                Veamos el siguiente video, que ilustra sobre las características de los microorganismos :
                            </p>
                            <a href="https://youtu.be/iQ51TKzOzQU " class="consulta" target="_blank">
                                Los microorganismos y sus características
                            </a>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>