<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <a class="cierre" (click)="cierre()">
                <img src="../../../../assets/image/close.png">
            </a>
            <div class="content-body">
                <div class="content">
                    <div class="list-topics">
                        <h3>
                            CARACTERÍSTICAS DE LAS BACTERIAS QUE PUDIERAN ESTAR PRESENTES EN LAS MANOS DE LOS MANIPULADORES DE ALIMENTOS 
                        </h3>
                    </div>

                    <div class="board">
                        <div class="board-content">
                            <h4>
                                Características de las bacterias que pudieran estar presentes en las manos de los manipuladores de alimentos
                            </h4>
                            <p>
                                Los alimentos que entran en contacto con las personas que manejan los alimentos, pueden verse afectados por los seres
                                humanos, los cuales llamaremos: manipuladores de alimentos.
                                <br>
                                Los manipuladores de alimentos han sido fuente de microorganismos patógenos en los alimentos, quienes más adelante
                                pueden llegar a desencadenar enfermedades transmitidas por los alimentos, o llamadas de origen alimentario, sobre todo
                                en el caso de alimentos listos para el consumo.
                                <br>
                                Los siguientes microorganismos, se pueden introducir en los alimentos, a partir de fuentes humanas, en ocasiones por
                                contaminación fecal-oral:

                                <li>
                                    <i>Staphylococcus aureus</i>
                                </li>

                                <li>
                                    Serotipos de <i>Salmonella</i>
                                </li>

                                <li>
                                    <i>Shiguella</i> spp
                                </li>

                                <li>
                                    <i>Escherichia coli</i> enteropatógena
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="botones">
                        <a class="retrocede">Anterior</a>
                        <a class="siguiente">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>