<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>CONCLUSIÓN MODULO {{modulo}}</h2>
                </div>

                <div class="container">
                    <div class="text-conclusion">
                        <p>
                            En la industria alimentaria, además de contar con las adecuadas instalaciones, personal capacitado, entre otros
                            aspectos, los equipos y utensilios adecuados y con el cumplimiento de exigencias, contribuirán a obtener alimentos
                            seguros para quienes van a ser los consumidores finales; comenzando desde el diseño de estos, el tipo de material y ante
                            todo que se permita la completa limpieza y desinfección, y de esta manera mantener alejada cualquier tipo de
                            contaminación, es primordial.
                        </p>
                    </div>

                    <div class="interrupcion-modulo">
                        <a class="stopModulo" (click)="module()">
                            Seguir en el Módulo
                        </a>

                        <a class="finishModulo" (click)="course()">
                            Finalizar Módulo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>