<section>
    <div class="contenedor-modal">
        <div class="modal-body">
            <div class="content-body">
                <div class="titulo-modal">
                    <h2>Retroalimentación</h2>
                </div>
                <div class="container">

                    <div class="tab">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1">
                            <p>
                                1. Cuando exista el riesgo de contaminación en las diversas fases del proceso de fabricación, el personal manipulador debe
                                lavarse las manos entre una y otra operación en el proceso de elaboración.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2">
                            <p>
                                2. Las materias primas conservadas por congelación que requieren ser descongeladas previo al uso, no deben descongelarse a
                                una velocidad controlada para evitar el desarrollo de microorganismos y podrán ser recongeladas.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso, si deben descongelarse de manera controlada
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3">
                            <p>
                                3. Los productos devueltos a la empresa por defectos de fabricación, que tengan incidencia sobre la inocuidad y calidad del
                                alimento podrán someterse a procesos de reenvase, reelaboración, reproceso, corrección o reesterilización.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso, no podrán someterse por ningún motivo a nuevos procesos
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4">
                            <p>
                                4. Las operaciones de fabricación deben realizarse en forma secuencial y continua para evitar el cruce de flujos de
                                producción.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Verdadero
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="acc" id="acc5">
                        <label for="acc5">
                            <p>
                                5. Todo equipo y utensilio que haya entrado en contacto con materias primas o con material contaminado debe solo limpiarse
                                cuidadosamente antes de ser nuevamente utilizado.
                            </p>
                        </label>
                        <div class="content">
                            <h4>Respuesta</h4>
                            <p>
                                Falso, deben limpiarse y desinfectarse
                            </p>
                        </div>
                    </div>

                    <button class="button-course" (click)="conclusion()">Continuar</button>

                </div>
            </div>
        </div>
    </div>
</section>